.super_main_sec {
  height: 60vh;
  .main_body {
    margin-top: 60px;
    .sub_body {
      display: flex;
      justify-content: space-between;

      .right_div {
        height: calc(100vh - 60px);
        overflow: auto;
        width: 80%;
        padding: 10px;
        background: $bg-mode-color;
        box-shadow: -1px 0px 5px #fff;

        .right_body_div {
          .upload_div {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 50%;
            .uplaod_image_div,
            .upload_video_div {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 50%;

              #file-input,
              #video-file {
                display: none;
              }

              #file-input-label,
              #video-file-input-label {
                cursor: pointer;
                color: $text-color;
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid #113a3a;
                border-radius: 2px;
                width: 100%;
                &:hover {
                  transition: all 0.6s;
                  color: $main-white;
                  background: #113a3a;
                }
              }
            }
            .upload_video_div {
              margin-left: 10px;
            }
            button {
              padding: 10px;
              width: 50%;
              border-radius: 3px;
              margin-left: 10px;
              border: none;
              background: #113a3a;
              color: $white-only;
              cursor: pointer;
            }
          }
          .textArea_div {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;

            textarea {
              border: 1px solid #113a3a;
              border-radius: 2px;
              outline: none;
              padding: 10px;
              margin: 10px 0px;
              width: 50%;
              resize: none;
              // rows: 3;
            }
            img {
              width: 70%;
            }
          }

          .files_uploaded_div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .files_uploaded_body {
              text-align: center;
            }
            .body_wrapper {
              width: 60%;
              margin: auto;
            }
            .post_header {
              display: block;
              padding: 10px 0px 10px;
              text-align: left;
              font-size: 22px;
              color: $text-color;
            }
            .uplaoded_img {
              width: 100%;
              margin-bottom: 10px;
              border-radius: 3px;
            }
            .like_main_div {
              .like_sub_div {
                display: flex;
                align-items: flex-start;
                justify-content: start;
                span {
                  position: relative;
                  transition: all 0.3s ease;
                  img {
                    filter: drop-shadow(1px 2px 4px rgb(112, 110, 110));
                    cursor: pointer;
                    &:not(:last-child) {
                      margin-right: 5px;
                      &.dislike {
                        transform: rotateY(180deg);
                      }
                    }
                  }

                  small {
                    position: absolute;
                    bottom: -10px;
                    right: 6px;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  &.likes_common_span:hover {
                    transform: translateY(-1px);
                  }
                }
              }
              .displayed_comments_div {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                border: 1px solid #ddd;
                padding: 10px;
                margin: 15px 0px;
                max-height: 250px;
                overflow: auto;
                span {
                  margin-bottom: 4px;
                  letter-spacing: 1px;
                  font-size: 14px;
                }
              }
              .comment_div {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 10px 0px;
                width: 100%;
                input {
                  padding: 10px 10px;
                  border: 1px solid #ddd;
                  letter-spacing: 1px;
                  width: 50%;
                  outline: none;
                }
                button {
                  border: 1px solid #ddd;
                  margin-left: 5px;
                  padding: 0px 10px;
                  background: white;
                  width: 43px;
                  height: 37px;
                  cursor: pointer;
                  &:disabled {
                    cursor: default;
                    background: white !important;
                    img {
                      filter: brightness(1) invert(0) !important;
                    }
                  }
                  &:hover {
                    background: #113a3a;
                    transition: all 0.3s ease;
                    img {
                      filter: brightness(0) invert(1);
                    }
                  }
                  img {
                    width: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
