.main_header_div {
  position: fixed;
  padding: 15px;
  max-height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $header-bg-color;
  box-shadow: 0px 0px 3px $black-only;
  transition: 0.3s all ease;
  top: 0;
  left: 0;
  width: 100%;
  .left_header {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      img {
        width: 50px;
      }
      &.brand_name {
        margin-left: 10px;
        font-size: 22px;
        color: $text-color;
      }
    }
  }

  .middle_header {
    width: 75%;
    ul {
      list-style: none;
      display: flex;
      justify-content: end;
      align-items: center;
      li {
        cursor: pointer;
        font-size: 19px;
        padding: 5px 10px;
        color: $text-color;
        &:not(:last-child) {
        }
        &:hover {
          background: $sideBar-bg;
          color: $white-only;
          border-radius: 3px;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .right_header {
    color: white;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      li {
        font-size: 20px;
        margin-right: 15px;
        .toggle_div {
          cursor: pointer;
          background-image: $toggle-bg;
          height: 30px;
          width: 80px;
          border-radius: 20px;
          position: relative;
          box-shadow: 0px 0px 5px 0px #7760a1;
          .toggle_ball {
            // background-image: url("../../assets/images/sun.png");
            background-image: $bg-image;
            background-repeat: no-repeat;
            background-position: center;
            object-fit: cover;
            height: 26px;
            position: absolute;
            width: 26px;
            border-radius: 50%;
            left: 5px;
            top: 2px;
            box-shadow: 0 0 9px rgba(126, 107, 68, 0.867);
            &.dark_view {
              transform: translateX(0px);
              transform: rotate(190deg);
              transition: 0.9s all ease;
              box-shadow: 0px 0px 5px 0px rgb(67 72 71 / 87%);
              // animation: rotate_moon 4s linear;
              // @keyframes rotate_moon {
              //   from {
              //     // transform: scale(0.8,0.8);
              //     transform: rotate(0deg);
              //   }
              //   to {
              //     transform: rotate(360deg);
              //     // transform: scale(1,1);
              //   }
              // }
            }

            &.light_view {
              transform: translateX(45px);
              transition: 0.9s all ease;
              box-shadow: 0px 0px 5px 1px rgb(93 195 173 / 87%);
              // animation: rotate_sun 4s linear;
              // @keyframes rotate_sun {
              //   from {
              //     // transform: scale(0.8,0.8);
              //     transform: rotate(0deg);
              //   }
              //   to {
              //     transform: rotate(360deg);
              //     // transform: scale(1,1);
              //   }
              // }
            }
          }
        }
        .user_icon_img {
          width: 30px;
          cursor: pointer;
        }
        &.logout_li {
          position: relative;
          cursor: pointer;
          &:focus div {
            visibility: visible;
            opacity: 1;
          }
          .user_details_con {
            position: absolute;
            background: $main-white;
            width: 350px;
            z-index: 1;
            box-shadow: 0px 0px 4px #113a3a;
            list-style: none;
            visibility: hidden;
            opacity: 0;
            // visibility: visible;
            // opacity: 1;
            transition: 0.3s ease all;
            right: -12px;
            top: 41px;
            border-radius: 3px;
            padding: 15px;
            &::before {
              content: "";
              position: absolute;
              top: -11px;
              right: 19px;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 8px solid #113a3a;
            }

            .user_header {
              display: flex;
              justify-content: start;
              align-items: center;

              img {
                width: 40px;
              }
              div {
                margin-left: 10px;
                border-left: 1px solid #ddd;
                padding-left: 10px;
                p {
                  color: $main-black;
                  font-size: 15px;
                }
              }
            }
            .confirm_text {
              color: $main-black;
              font-size: 16px;
              margin-top: 25px;
              text-align: center;
              border-bottom: 1px solid #ddd;
              padding-bottom: 10px;
            }
            .btn_grp {
              margin-top: 20px;
              text-align: center;
              button {
                width: 100px;
                margin-right: 10px;
                padding: 10px;
                color: $main-black;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 0px 1px 3px #113a3a;
              }
              button:first-child {
                background-color: tomato;
              }
              button:last-child {
                background-color: greenyellow;
              }
            }
          }
        }
      }
    }
  }
}
