.super_main_sec {
  width: 100vw;
  height: 60vh;
  // background-color: rgb(197, 206, 184);
  .main_body {
    .sub_body {
      display: flex;
      justify-content: space-between;
      .left_menu {
        width: 25%;
        padding: 15px;
        .search_div {
          input {
            padding: 12px;
            width: 100%;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            box-shadow: 0px 0px 6px #ff003b;
            letter-spacing: 2px;
          }
        }
        ul {
          background: linear-gradient(45deg, #f3cdf3, #13c3);
          //   margin: 10px;
          border-radius: 5px;
          padding: 10px 15px;
          list-style: none;
          li {
            font-size: 20px;
            border-bottom: 2px solid rgb(17 183 152);
            margin: 5px;
            padding: 10px;
            color: $main-black;
            font-weight: bolder;
            letter-spacing: 2px;
            transition: 0.3s all ease-in-out;
            &:hover {
              background-color: rgb(255 255 255 / 93%);
              color: #2d7655;
              border-radius: 5px;
            }
          }
        }
      }
      .right_div {
        width: 75%;
        padding: 10px;
        background: rgb(255, 255, 255);
        .banner_div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .banner1 {
            width: 33%;
            // background: yellow;
            border: 1px solid #ddd;
            height: 170px;
            border-radius: 5px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .banner_img1 {
            transition: 0.3s all ease;
            -webkit-animation: fade_animation 1s linear;
          }
          @keyframes fade_animation {
            from {
              opacity: 0;
              -webkit-transform: scale(0.8, 0.8);
            }
            to {
              opacity: 1;
              transform: scale(1, 1);
            }
          }
        }

        .right_body_div {
          .upload_div {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 50%;
            .uplaod_image_div,
            .upload_video_div {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 50%;

              #file-input,
              #video-file {
                display: none;
              }

              #file-input-label,
              #video-file-input-label {
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid #cdcdcd;
                border-radius: 4%;
                width: 100%;
                background-image: linear-gradient(45deg, #e1e1e175, #ede6e636);
              }
              // .custom-file-input:hover::before {
              //   border-color: black;
              // }
              // .custom-file-input:active {
              //   outline: 0;
              // }
              // .custom-file-input:active::before {
              //   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
              // }
              ///////////////================================///////////////////
              // input[type="file"]::file-selector-button {
              //   border: 2px solid #6c5ce7;
              //   padding: 0.2em 0.4em;
              //   border-radius: 0.2em;
              //   background-color: #a29bfe;
              //   transition: 1s;
              // }
              // .custom-file-input::-webkit-file-upload-button {
              //   visibility: hidden;
              // }

              // input[type="file"]::file-selector-button:hover {
              //   background-color: #81ecec;
              //   border: 2px solid #00cec9;
              // }
            }
            .upload_video_div {
              margin-left: 10px;
            }
            button {
              padding: 10px;
              width: 50%;
              /* border: 1px solid #ddd; */
              /* background: blue; */
              background-image: linear-gradient(45deg, #21dce594, #7929f5);
              border-radius: 3px;
              margin-left: 10px;
              border: none;
            }
          }

          .files_uploaded_div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .post_div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 50%;

              textarea {
                border: 1px solid rgb(221, 221, 221);
                border-radius: 5px;
                outline: none;
                padding: 10px;
                margin: 10px 0px;
                width: 100%;
              }
              // button {
              //   padding: 10px;
              //   width: 50%;
              //   border: 1px solid #ddd;
              //   /* background: blue; */
              //   background-image: linear-gradient(45deg, #47bbc1, #b496e3);
              //   border-radius: 6px;
              //   margin-left: 10px;
              // }
            }
            .uplaoded_img {
              width: 50%;
              margin-bottom: 10px;
            }
            .like_main_div {
              .like_sub_div {
                display: flex;
                align-items: center;
                justify-content: start;
                img {
                  cursor: pointer;

                  &:not(:last-child) {
                    margin-right: 5px;
                    &.dislike {
                      transform: rotateY(180deg);
                    }
                  }
                }
              }
              .comment_div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0px;
                input {
                  padding: 10px 10px;
                  border: 1px solid #ddd;
                  letter-spacing: 1px;
                }
                button {
                  border: 1px solid #ddd;
                  margin-left: 5px;
                  padding: 0px 10px;
                  background: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
