.super_main_sec {
  width: 100vw;
  height: 60vh;
  // background-color: rgb(197, 206, 184);
  .main_body {
    .sub_body {
      display: flex;
      justify-content: space-between;
      .left_menu {
        width: 25%;
        padding: 15px;
        .search_div {
          input {
            padding: 12px;
            width: 100%;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            box-shadow: 0px 0px 6px #ff003b;
            letter-spacing: 2px;
          }
        }
        ul {
          background: linear-gradient(45deg, #f3cdf3, #13c3);
          //   margin: 10px;
          border-radius: 5px;
          padding: 10px 15px;
          list-style: none;
          li {
            font-size: 20px;
            border-bottom: 2px solid rgb(17 183 152);
            margin: 5px;
            padding: 10px;
            color: $main-black;
            font-weight: bolder;
            letter-spacing: 2px;
            transition: 0.3s all ease-in-out;
            &:hover {
              background-color: rgb(255 255 255 / 93%);
              color: #2d7655;
              border-radius: 5px;
            }
          }
        }
      }
      .right_div {
        width: 75%;
        padding: 10px;
        background: aliceblue;
        .banner_div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .banner1 {
            width: 33%;
            background: yellow;
            height: 170px;
            border-radius: 5px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .banner_img1 {
            transition: 0.3s all ease;
            -webkit-animation: fade_animation 1s linear;
          }
          @keyframes fade_animation {
            from {
              opacity: 0;
              -webkit-transform: scale(0.8, 0.8);
            }
            to {
              opacity: 1;
              transform: scale(1, 1);
            }
          }
        }
        .right_body_div {
          .upload_div {
            display: flex;
            justify-content: start;
            align-items: center;
            div {
              // .custom-file-input {
              //   color: transparent;
              // }
              // .custom-file-input::-webkit-file-upload-button {
              //   visibility: hidden;
              // }
              // .custom-file-input::before {
              //   content: 'Select some files';
              //   color: black;
              //   display: inline-block;
              //   background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
              //   border: 1px solid #999;
              //   border-radius: 3px;
              //   padding: 5px 8px;
              //   outline: none;
              //   white-space: nowrap;
              //   -webkit-user-select: none;
              //   cursor: pointer;
              //   text-shadow: 1px 1px #fff;
              //   font-weight: 700;
              //   font-size: 10pt;
              // }
              // .custom-file-input:hover::before {
              //   border-color: black;
              // }
              // .custom-file-input:active {
              //   outline: 0;
              // }
              // .custom-file-input:active::before {
              //   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
              // }
              ///////////////================================///////////////////
              // input[type="file"]::file-selector-button {
              //   border: 2px solid #6c5ce7;
              //   padding: 0.2em 0.4em;
              //   border-radius: 0.2em;
              //   background-color: #a29bfe;
              //   transition: 1s;
              // }
              // .custom-file-input::-webkit-file-upload-button {
              //   visibility: hidden;
              // }

              // input[type="file"]::file-selector-button:hover {
              //   background-color: #81ecec;
              //   border: 2px solid #00cec9;
              // }
              // #file-input {
              //   width: 90px;
              //   overflow: hidden;
              // }

              #file-input {
                display: none;
              }

              #file-input-label {
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid #cdcdcd;
                border-radius: 4%;
              }
              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
