.super_main_sec {
  height: 60vh;
  .main_body {
    margin-top: 60px;
    .sub_body {
      display: flex;
      justify-content: space-between;
      .left_menu {
        width: 20%;
        padding: 15px;
        background: $sideBar-bg;
        .search_div {
          input {
            padding: 12px;
            width: 100%;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            box-shadow: 0px 0px 2px #ff003b;
            letter-spacing: 2px;
            margin-bottom: 4px;
          }
        }
        ul {
          border-radius: 5px;
          padding: 10px 15px;
          list-style: none;
          li {
            font-size: 20px;
            border-bottom: 2px solid rgb(17 183 152);
            margin: 5px;
            padding: 10px;
            color: $white-only;
            letter-spacing: 1px;
            transition: 0.3s all ease-in-out;
            &:hover {
              background-color: rgb(255 255 255 / 93%);
              color: #2d7655;
              border-radius: 5px;
            }
          }
        }
      }
      .right_div {
        height: calc(100vh - 60px);
        overflow: auto;
        width: 80%;
        padding: 10px;
        background: $bg-mode-color;
        .banner_div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .banner1 {
            width: 33%;
            border: 1px solid #ddd;
            height: 170px;
            border-radius: 5px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .banner_img1 {
            transition: 0.3s all ease;
            -webkit-animation: fade_animation 1s linear;
          }
          @keyframes fade_animation {
            from {
              opacity: 0;
              -webkit-transform: scale(0.8, 0.8);
            }
            to {
              opacity: 1;
              transform: scale(1, 1);
            }
          }
        }

        .right_body_div {
          .upload_div {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 50%;
            .uplaod_image_div,
            .upload_video_div {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 50%;

              #file-input,
              #video-file {
                display: none;
              }

              #file-input-label,
              #video-file-input-label {
                cursor: pointer;
                color: $text-color;
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid #113a3a;
                border-radius: 2px;
                width: 100%;
                &:hover {
                  transition: all 0.6s;
                  color: $main-white;
                  background: #113a3a;
                }
              }
            }
            .upload_video_div {
              margin-left: 10px;
            }
            button {
              padding: 10px;
              width: 50%;
              border-radius: 3px;
              margin-left: 10px;
              border: none;
              background: #113a3a;
              color: $white-only;
              cursor: pointer;
            }
          }

          .files_uploaded_div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .post_div {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              width: 100%;
              margin-bottom: 30px;

              textarea {
                border: 1px solid #113a3a;
                border-radius: 2px;
                outline: none;
                padding: 10px;
                margin: 10px 0px;
                width: 50%;
                resize: none;
                // rows: 3;
              }
              img {
                width: 70%;
              }
            }

            .files_uploaded_body {
              text-align: center;
            }
            .body_wrapper {
              width: 60%;
              margin: auto;
            }
            .post_header {
              display: block;
              padding: 10px 0px 10px;
              text-align: left;
              font-size: 22px;
              color: $text-color;
            }
            .uplaoded_img {
              width: 100%;
              margin-bottom: 10px;
              border-radius: 3px;
            }
            .like_main_div {
              .like_sub_div {
                display: flex;
                align-items: flex-start;
                justify-content: start;
                span {
                  position: relative;
                  transition: all 0.3s ease;
                  img {
                    filter: drop-shadow(1px 2px 4px rgb(112, 110, 110));
                    cursor: pointer;
                    &:not(:last-child) {
                      margin-right: 5px;
                      &.dislike {
                        transform: rotateY(180deg);
                      }
                    }
                  }

                  small {
                    position: absolute;
                    bottom: -10px;
                    right: 6px;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  &.likes_common_span:hover {
                    transform: translateY(-1px);
                  }
                }
              }
              .displayed_comments_div {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                border: 1px solid #ddd;
                padding: 10px;
                margin: 15px 0px;
                max-height: 250px;
                overflow: auto;
                span {
                  margin-bottom: 4px;
                  letter-spacing: 1px;
                  font-size: 14px;
                }
              }
              .comment_div {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 10px 0px;
                width: 100%;
                input {
                  padding: 10px 10px;
                  border: 1px solid #ddd;
                  letter-spacing: 1px;
                  width: 50%;
                  outline: none;
                }
                button {
                  border: 1px solid #ddd;
                  margin-left: 5px;
                  padding: 0px 10px;
                  background: white;
                  width: 43px;
                  height: 37px;
                  cursor: pointer;
                  &:disabled {
                    cursor: default;
                    background: white !important;
                    img {
                      filter: brightness(1) invert(0) !important;
                    }
                  }
                  &:hover {
                    background: #113a3a;
                    transition: all 0.3s ease;
                    img {
                      filter: brightness(0) invert(1);
                    }
                  }
                  img {
                    width: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
