/*common colors*/
$main-black: #fff;
$main-white: #000;
$white-only: #fff;
$black-only: #000;
$bg-mode-color: #011616;
$text-color:#fff;

/*==Header==*/
$header-bg-color: #113a3a;
$bg-image: url("../../assets/images/full-moon.png");
$toggle-bg: linear-gradient(45deg, #ffffff, #ffffff);

/* Side bar */
$sideBar-bg: #011616;
