/*common colors*/
$main-black: #000;
$main-white: #fff;

$white-only: #fff;
$black-only: #000;

$bg-mode-color: #fff;
$text-color: #113a3a;

/*==Header==*/
$header-bg-color: #fff;
$bg-image: url("../../assets/images/sun.png");
$toggle-bg: linear-gradient(45deg, #ffffff, #ffffff);

/* Side bar */
$sideBar-bg: #113a3a;
