/*common colors*/
$main-black: #000;
$white-only: #fff;
$black-only: #000;

/*==Header==*/
$header-bg-color: linear-gradient(45deg, rgb(169 134 209 / 89%), rgb(160 150 187));
$bg-image:url("../../assets/images/sun.png");
$toggle-bg:linear-gradient(45deg, #ffffff, #ffe6e6);